.navbar.navbar-custom {
  padding-left: 20px;
  margin-bottom: 50px;
}
.title {
  margin-bottom: 20px;
}

.button {
  text-align: center;
}
.input-space {
  margin-bottom: 10px;
}

.cent {
  display: flex;
  flex-direction: column;
  align-items: center;
}